.el-dialog {
    width: 95%;
}
.defaultTag {
    color: #000000;
    background-color: #ffffff;
}
.activeTag {
    color: #ffffff;
    background-color: #1A9DE1;
}
.typeIndex {
    text-align: center;
    width: 2.533333rem;
}
.mobileIndex {
    text-align: center;
    width: 195px;
}
.el-autocomplete {
    display: inline;
    color: #505050;
}
.el-autocomplete-suggestion li {
    color: #aaaaaa;
}
.el-autocomplete-suggestion__list :first-child {
    pointer-events: none;
}